/* Global ================================== */
* {
  background: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* Header ================================== */
header {
  padding: 6rem;
  font-size: 2.5rem;
}

/* Time-section ================================== */
#time {
  padding: 2rem;
  font-size: 50px;
  border-radius: 1.5rem;
  border-style: solid;
}

#inicial {
  margin-top: 50px;
  border-radius: 2rem;
  background: #0070F3;
  color: white;
  padding: 2rem;
  font-size: 30px;
  border: solid #0070F3;
  box-shadow: 5px 5px 20px #2a8dff;
}

#inicial:hover {
  background: #2a8dff;
  border: solid #2a8dff;
}

/* Footer ================================== */
footer {
  padding-top: 10rem;
}