/* Global ================================== */
* {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* Header ================================== */
header {
  font-size: 2.5rem;
  margin-bottom: 12rem;
}

/* Time-section ================================== */
#time {
  padding: 2rem;
  font-size: 1.6rem;
  border-radius: 1.5rem;
  border-style: solid;
  cursor: pointer;
}

#time:focus, #inicial:focus {
  outline-style: none;
}

#inicial {
  margin-top: 4rem;
  border-radius: 2rem;
  background: #0070F3;
  color: white;
  padding: 2rem;
  font-size: 30px;
  border: solid #0070F3;
  box-shadow: 5px 5px 20px #2a8dff;
  cursor: pointer;
}

#inicial:hover {
  background: #2a8dff;
  border: solid #2a8dff;
}

/* Footer ================================== */
footer {
  padding-top: 16rem;
}